:root{
    --color1: #355872;
    --color2: #7AAACE;
    --color3: #9CD5FF;
    --color4: #F7F8F0;
}

.mainmenu{
    background-color: var(--color1);
    color: var(--color4) !important;
}
.navbar-nav .nav-item a{
    color: var(--color4);
    text-decoration: none;
    margin: 0 10px;
    
}
.nav-link {
    position: relative;
    transition: color 0.3s ease;
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color3);
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}