<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="assets/index.css">
</head>

<body>
    <div class="container-fluid mainmenu p-3">
        <div class="row">
            <div class="col-2">
                Logo
            </div>
            <div class="col-6"></div>
            <div class="col-4">
                <header>
                    <nav>
                        <a href="#">Inicio</a>
                        <a href="#">Catálogo</a>
                        <a href="#">Sobre nosotros</a>
                        <a href="#">Contáctanos</a>
                    </nav>
                </header>
            </div>
        </div>
    </div>
    <!--Javascript-->
    <script src="./node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>